{% extends 'base.html' %}

{% block content %}

<form action="{% url 'login' %}" method="POST" class="max-w-md mx-auto my-8 p-6 bg-white rounded-md shadow-md">
    {% csrf_token %}
    
    <div class="mb-4">
        <label for="{{ form.username.id_for_label }}" class="block text-sm font-medium text-gray-600">Username</label>
        {{ form.username }}
    </div>
    
    <div class="mb-4">
        <label for="{{ form.password.id_for_label }}" class="block text-sm font-medium text-gray-600">Password</label>
        {{ form.password }}
    </div>
    <input type="hidden" name="next" value="{{ next }}">
    <input type="submit" value="Sign In" class="bg-sky-600 text-white px-4 py-2 rounded-md hover:bg-sky-700">

    <p class="mt-2 text-sm text-gray-600">Or <a href="{% url 'signup' %}" class="text-sky-600">Create an Account</a></p>
</form>

{% endblock %}