{% extends 'base.html' %} {% block content %}
<div class="mx-auto max-w-2xl px-4 sm:px-6 sm:py-12 lg:max-w-7xl lg:px-8">
  <h1 class="text-2xl font-bold text-gray-800 mb-4">Shop By Artist</h1>
  <div class="alphabet-container mb-4 sm:flex sm:flex-wrap" style="display: flex">
    <ul class="alphabet-links flex space-x-2" style="flex-wrap: wrap; justify-content: center;">
      {% for letter in "ABCDEFGHIJKLMNOPQRSTUVWXYZ" %}
      <li class="text-sm sm:text-lg">
        <a
          href="#{{ letter }}"
          class="text-lg hover:text-sky-500 transform transition-transform hover:scale-110"
        >
          {{ letter }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>

  {% for letter in "ABCDEFGHIJKLMNOPQRSTUVWXYZ" %}
  <section id="{{ letter }}" class="text-center">
    <h2 class="text-2xl font-bold text-gray-800">{{ letter }}</h2>
    <div class="border-b border-gray-300 mb-5"></div>
    <ul class="grid grid-cols-4 gap-4">
      {% for artist in artists %} {% if artist.artist|first == letter %}
      <li>
        <a
          href="{% url 'products_by_artist' artist_name=artist.artist %}"
          class="text-lg hover:text-sky-500 transform transition-transform hover:scale-110 block"
        >
          {{ artist.artist }}
        </a>
      </li>
      {% endif %} {% endfor %}
    </ul>
  </section>
  {% endfor %}
</div>

{% endblock %}
